h3{
 font-size: 20px;
}

.card{
    margin-top: 20px;
}
.lang-icon{
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.header_synonym_0{
    font-weight: bold;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header_synonym_p_first{
        font-size: 9px !important;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header_synonym_p_first{
        font-size: 9px!important;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .header_synonym_p_1::before{
        font-size: 9px !important;
        content:"(";
    }
}

.header_synonym_p_1::before{
    font-size: 12px;
    content:"(";
}

@media only screen and (min-device-width: 480px) and (max-device-width: 640px)  {
    .header_synonym_p_first, .header_synonym_p_middle{
        font-size: 9px !important;
        margin-right: 5px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header_synonym_p_first, .header_synonym_p_middle{
        font-size: 9px !important;
        margin-right: 5px;
    }
}

.header_synonym_p_first, .header_synonym_p_middle{
    font-size: 14px;
    margin-right: 5px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .header_synonym_p_middle::after{
        font-size: 9px !important;
    
        content:",";
    }
    
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .header_synonym_p_middle::after{
        font-size: 9px !important;
    
        content:",";
    }
    
}




.header_synonym_p_middle::after{
    font-size: 14px;

    content:",";
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
  
    .header_synonym_p_last{
        font-size: 9px !important;
    
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 640px) {
    .header_synonym_p_last{
        font-size: 9px !important;
    
    }
}



.header_synonym_p_last{
   font-size: 14px;

}

.header_synonyms{
    display: inline-block;
}

.header_synonyms_markup{
    display: inline-block;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header_synonyms_end_bracket{
        font-size: 9px;
        display: inline-block;
    }
}
@media only screen and (min-width : 321px) {
    .header_synonyms_end_bracket{
        font-size: 9px;
        display: inline-block;
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .header_synonyms_end_bracket{
        font-size: 9px;
        display: inline-block;
    }
}



.header_synonyms_end_bracket{
    font-size: 14px;
    display: inline-block;
}

.header_translations{
    display: inline-block;
}

.header_translation_p_first, .header_translation_p_middle{
    margin-right: 5px;
}

.header_translation_p_first::after, .header_translation_p_middle::after{
    content:",";
}
.mat-expansion-panel-header-title{
    margin-top: 20px;
}
.header_wordtype{
    margin-top: 20px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
    .header_wordtype_p{
        font-size:9px;
      
    }
}
@media only screen and (min-width : 321px) {
    .header_wordtype_p{
        font-size:9px;
      
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .header_wordtype_p{
      font-size:9px;
    
    }
}

.header_wordtype_p{
 font-size:12px;

}

.mat-expansion-panel-header-description {
 flex-grow: 0;
}